<footer>

  <div class="page-footer">
    <p><i class="far fa-copyright"></i> Scratch That Copyright</p>
    <div class="icons">
      <i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="far fa-envelope"></i>
    </div>
  </div>

</footer>
