<header>
  <div class="page-header">
    <a class="logo" href="/lists"><h3>Scratch That</h3></a>
    <div>
      <% if (!user) { %>
      <form method="GET" action="/">
      <button class="head-button" type="submit">Login</a></button>
    </form>
      <% } else { %>
      <form method="POST" action="/logout">
      <button class="head-button" type="submit"></a>Logout</button>
      </form>
      <% } %>
    </div>
  </div>
  </nav>
</header>
