<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lists Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <form method="POST" action="/lists/eat">
    <button type="submit"; style="background-color: white; border: 1.5px solid grey; border-radius: 5px;color: grey">Eat</button>
  </form>

  <form method="POST" action="/lists/watch">
    <button type="submit"; style="background-color: white; border: 1.5px solid grey; border-radius: 5px;color: grey">Watch</button>
  </form>

  <form method="POST" action="/lists/read">
    <button type="submit"; style="background-color: white; border: 1.5px solid grey; border-radius: 5px;color: grey">Read</button>
  </form>

  <form method="POST" action="/lists/buy">
    <button type="submit"; style="background-color: white; border: 1.5px solid grey; border-radius: 5px;color: grey">Buy</button>
  </form>

</body>

</html>
