<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lists Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Temporarily added styling to item submission form from categories -->
  <link rel="stylesheet" href="/styles/categories.css" type="text/css" />
  <link rel="stylesheet" href="/styles/lists.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
    <section>
      <%- include('partials/_header', {user}) %>
    </section>
    <section>
      <div class="add-new-item">
        <form method="POST" action="/lists/" id="form">
          <label for="new-list-item"></label>
          <textarea name="text" id="item-text" placeholder="What item would you like to add?"></textarea>
          <div>
            <button class="submit-new-item-button" type="submit">Submit Item</button>
          </div>
        </form>
      </div>
    </section>

  <div class="category-links">
    <form method="GET" action="/lists/eat">
      <button class="category-button" type="submit"><i class="fas fa-utensils"></i></button>
    </form>

    <form method="GET" action="/lists/watch">
      <button class="category-button" type="submit"><i class="fas fa-film"></i></button>
    </form>

    <form method="GET" action="/lists/read">
      <button class="category-button" type="submit"><i class="fas fa-book-open"></i></button>
    </form>

    <form method="GET" action="/lists/buy">
      <button class="category-button" type="submit"><i class="far fa-credit-card"></i></button>
    </form>
  </div>


  <section>
    <%- include('partials/_footer') %>
  </section>


</body>

</html>
