.page-header {
  display: flex;
  //position: fixed;
  // z-index: 1;
  // top: 0;
  background-color: #29323d;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  text-align: center;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: #e4b742d4;
  text-decoration: none;
}

.head-button {
  width: 90px;
  height: 28px;
  padding: 0px 10px 0px 10px;
  color: #798da3;
  border-color: #798da3;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px 9px 9px 9px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.head-button:hover {
  color: #29323d;
  cursor: pointer;
}

