
.add-new-item {
  // display:flex;
  padding: 25px;
  text-align: center;
}

.submit-new-item-button {
  width: 90px;
  height: 28px;
  padding: 0px 10px 0px 10px;
  background: #29323d;
  color: #ffffff;
  border-color: #29323d;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px 9px 9px 9px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.submit-new-item-button:hover {
  color: #798da3;
  cursor: pointer;
}

#item-text {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #29323d;
  resize: none;
  width: 30%;
  height: 25px;
  font-size: 24px;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.5px solid #999fa5;
  border-bottom: 0.5px solid #999fa5;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.cat-head {
  text-align: center;
}

.cat-head p {
  font-weight: bolder;
  font-size: 30px;

  margin: 0;
  padding: 20px;
}

.category {
  text-align: center;
  list-style-type: none;
  padding-bottom: 15px;
}

.category li {
  border: 1px solid #29323d;
  border-radius: 9px 9px 9px 9px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  padding: 5px 20px;
  margin-bottom: 5px;
}

.item-name p:hover {
  color: #e4b742d4;
  cursor: pointer;
}

.fa-edit {
  padding: 0 6px;
}

span .fa-star {
  color: gold;
}

.select-options {

  margin: 0 auto;
  display: none;
  // align-items: center;
  // justify-content: space-between;
}
.select-options button {
  border: none;
  background-color: #FFFFFF;
}

.select-options i:hover {
  color: #798da3;
  cursor: pointer;
}

.item-name p {
  margin: 0;
}

.reassign-options {
  display:none;
}

.category-list-name {
  color: #29323d;
}

.item-counter {
  color: #c0c0c0
}

.logged-out-message {
  text-align: center;
}
