.add-new-item {
  padding: 25px;
  text-align: center;
  margin-top: 50px;
}

div.category-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.category-links form {
  padding: 10px;
}

.category-links button {
  width: 120px;
  height: 100px;
  padding: 0px 10px 0px 10px;
  color: #798da3;
  border:none;
  background-color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-links i {
  font-size: 40px;
  color: #29323d;
}

.category-links i:hover {
  color: #798da3;
  cursor: pointer;
}

.submit-new-item-button {
  width: 90px;
  height: 28px;
  padding: 0px 10px 0px 10px;
  background: #29323d;
  color: #ffffff;
  border-color: #29323d;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px 9px 9px 9px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.long-line {
  width: 120px;
  height: 7px;
  border-radius: 3.5px;
  background: #c7d0d966;
  border-top: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 4px;
}

.short-line {
  width: 100px;
  height: 7px;
  border-radius: 3.5px;
  background: #c7d0d966;
  border-top: 10px;
  padding: 4px;
  margin-bottom: 8px;
}

.item-counter {
  color: #29323d;
}

.submit-new-item-button:hover {
  color: #798da3;
  cursor: pointer;
}

#item-text {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #29323d;
  resize: none;
  width: 40%;
  height: 25px;
  font-size: 24px;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

#item-text:focus {
  outline: none;
}

.logged-out-message {
  text-align: center;
}

@media only screen and (max-width: 600px) {

  div.category-links {
    // flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

